# Problem Set 2
BDAT 1004 - Data Programming


Farah Sadoon 200574206

<h3><font color='#004b87'>QUESTION 1 </font></h3>

Consider the following Python module: 

    a=0
    
    def b(): 
        global a
        a = c(a)
    
    def c(a):
        return a + 2
After importing the module into the interpreter, you execute: 
    
    >>> b()
    >>> b()
    >>> b()
    >>> a
    ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

    The value 6 is displayed when the last expression (a) is evaluated. 

    The first time function b() is called, the value of global variable a is 0. When function b() is called, it refers to the global variable a and passes the value of a as a parameter into function c(), therefore the value passed into c is 0. When function c(a) is called, it returns the value of a + 2, which is 0 + 2 = 2.

    The second time function b() is called, the global variable a has now been changed to 2, because function c(a) returns the value of a + 2 = 2. When function b() runs again, the value of a is 2, which is again passed to function c() as a parameter, which returns the value a + 2, or in this instance 2 + 2 = 4. 

    Finally, the third time function b() is called, global variable a has been changed to 4, according to the last calculation where function c(a) changed the variable to 2 + 2 = 4. Now that a = 4, b passes the value of a to c() as a parameter, which again returns the value of a + 2, which is 4 + 2 = 6.

In [1]:
a = 0
def b(): 
    global a
    a = c(a)
    
def c(a): 
    return a + 2

In [2]:
b() 
b()
b()
a

6

<h3><font color='#004b87'>QUESTION 2 </font></h3>

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 

    >>> fileLength('midterm.py')
    284
    >>>fileLength('idterm.py')
    Traceback (most recent call last): 
        File "<pyshell#34>", line 1, in <module>
            fileLength('idterm.py')
        File "/Users/me/midterm.py", line 3, in fileLength
            infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory: 
    'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 

    >>>fileLength('midterm.py')
    358
    >>>fileLength('idterm.py')
    File idterm.py not found.

In [3]:
import os 
# setting working directory
os.chdir('/Users/farahsadoon/Desktop/')

def file_length(file_name):
    try: 
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except:
        print("File", file_name, "not found.")

In [4]:
file_length('midterm.py')

358

In [5]:
file_length('idterm.py')

File idterm.py not found.

<h3><font color='#004b87'>QUESTION 3 </font></h3>

Write a class named Marsupial that can be used as shown below: 

    >>> m = Marsupial()
    >>> m.put_in_pouch('doll')
    >>> m.put_in_pouch('firetruck')
    >>> m.put_in_pouch('kitten')
    >>> m.pouch_contents()
    ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: 
    
a) _extends_ the Marsupial \_\_init_\_ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b) _supports_ method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c) _overloads_ the \_\_str_\_ operator so it behaves as shown below.

    >>> k = Kangaroo(0,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (0,0)
    >>> k.put_in_pouch('doll')
    >>> k.put_in_pouch('firetruck')
    >>> k.put_in_pouch('kitten')
    >>> k.pouch_contents()
    ['doll', 'firetruck', 'kitten']
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (3,0)

In [6]:
class Marsupial:
    def __init__(self):
#         initializing pouch list
        self.pouch = []
    
    def put_in_pouch(self, item): 
#         adding items to pouch list
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)
        
class Kangaroo(Marsupial):
    def __init__(self, x, y):
#         redefining initialization of object with original pouch list, and distance of x and y coordinates
        self.pouch = []
#         default Kangaroo position is (0,0)
        self.dx = 0
        self.dy = 0
        
    def jump(self, x, y):
#         adding coordinates to distance to move Kangaroo to new position
        self.dx = self.dx + x
        self.dy = self.dy + y
        
    def __str__(self): 
#         string interpolation used to print location of Kangaroo formatting as coordinates
        return "I am a Kangaroo located at {}".format((self.dx, self.dy))

In [7]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at (0, 0)

In [9]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at (3, 0)

<h3><font color='#004b87'>QUESTION 4 </font></h3>

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

<h5><center>$x = {x/2}$ if x is even</center></h5>

<h5><center>$x = {3x + 1}$ if x is odd </center></h5>
    
Your function should be stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
    
    >>> collatz(1)
    1
    >>> collatz(10)
    10
    5
    16
    8
    4
    2
    1

In [12]:
def collatz(x): 
#     setting base case, where x = 1
    if x == 1: 
        print(int(x))
    else: 
#         if x is even, divide x by 2 and run function collatz() again
        if x % 2 == 0: 
            print(int(x))
            collatz(x / 2)
#         if x is odd, multiply x by 3, add 1 and run function collatz() again
        else: 
            print(int(x))
            collatz(x * 3 + 1)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

<h3><font color='#004b87'>QUESTION 5 </font></h3>

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 

    >>> binary(0)
    0
    >>> binary(1)
    1
    >>> binary(3)
    11
    >>> binary(9)
    1001

In [21]:
# initializing conversion list and result string
conversion = []
result = ""

def binary(n):    
#     accessing conversion list and result string from within the function
    global conversion
    global result
    
#     setting base case, where the quotient of n floor division 2 is 0
    if n // 2 == 0: 
#         if the remainder of n divided by 2 is 0, insert 0 to front of list
        if n % 2 == 0:
            conversion.insert(0,'0')
            print(result.join(conversion))
        else:
            conversion.insert(0,'1')
            print(result.join(conversion))
    else:
#         if the remainder of n divided by 2 is 0, insert 0 to front of list and run function binary() again where n is floor divided by 2
        if n % 2 == 0: 
            conversion.insert(0,'0')
            binary(n//2)
        else: 
            conversion.insert(0,'1')
            binary(n//2)

# the following source was used to develop binary conversion algorithm'
# https://www.rapidtables.com/convert/number/decimal-to-binary.html'

In [16]:
binary(0)

0

In [18]:
binary(1)

1

In [20]:
binary(3)

11

In [22]:
binary(9)

1001

<h3><font color='#004b87'>QUESTION 6 </font></h3>

Implement a class named HeadingParser that can be used to parse an HTML document and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: 

- h1 heading should have indentation 0
- h2 heading should have indentation 1, etc. 

Test your implementation using w3c.html.

    >>> infile = open('w3c.html')
    >>> content = infile.read()
    >>> infile.close()
    >>> hp = Heading Parser()
    >>> hp.feed(content)
    W3C Mission
        Principles

In [23]:
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):

    def handle_data(self, data):
#         removing all whitespace from data
        data = data.strip()
        
#         searching for lasttag in each line of code per line
#         printing with corresponding tab level
        if self.lasttag == "h1":
            print('\t' * 0 + data)
        elif self.lasttag == "h2": 
            print('\t' * 1 + data)
        elif self.lasttag == "h3": 
            print('\t' * 2 + data)
        elif self.lasttag == "h4": 
            print('\t' * 3 + data)
        elif self.lasttag == "h5": 
            print('\t' * 4 + data)
        elif self.lasttag == "h6": 
            print('\t' * 5 + data)
        
#         the following sources were used for understanding html parser:
#         https://stackoverflow.com/questions/16773583/python-extracting-specific-data-with-html-parser
#         https://docs.python.org/3/library/html.parser.html#examples
#         https://github.com/python/cpython/blob/f5e29f424597a970d7cfde3402891259e0e4c1dd/Lib/html/parser.py

In [24]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

	Principles

<h3><font color='#004b87'>QUESTION 7 </font></h3>

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. 

    >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' , 2, 0)
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
            http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
            http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [25]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [28]:
from urllib.request import urlopen
visited = set()
counter = 0

def webdir(url, d, i): 
    global visited 
    global counter
    # adding current value/instance of url to the visited set
    visited.add(url)
    
    # setting indentation level
    i += 1
    
    # opening url
    resource = urlopen(url)
    # setting content to reading and decoding what is in the url
    content = resource.read().decode()
    # creating new object of Collector class to parse through html
    collector = Collector(url)
    collector.feed(content)
    # creating a list of all links read by parser
    links = collector.getLinks()
    
    # setting counter as while loop condition (based on the value of the variable for depth, d)
    counter += 1
    while counter <= d:
        # for each link in the list of links, strip the link of leading and trailing whitespace
        try: 
            for link in links:
                link = link.strip()

                if link in visited: 
                    pass
                # if the link is not in set visited, print the link with the indentation level specified by i, then run webdir() again with the current link
                else: 
                    print('\t' * i + link)
                    webdir(link, d, i)
        except:
            continue

In [29]:
webdir('https://www.w3schools.com/python/', 2, 0)

	https://www.w3schools.com
		https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com
		https://billing.w3schools.com/products/spaces?frequency=monthly&changePlan=true
		https://www.w3schools.com/signup/index.php
		https://www.w3schools.com/spaces/index.php
		https://www.w3schools.com/bootcamp/index.php
		https://www.w3schools.com/videos/index.php
		https://shop.w3schools.com
		https://www.facebook.com/w3schoolscom/
		https://www.instagram.com/w3schools.com_official/
		https://www.linkedin.com/company/w3schools.com/
	https://discord.gg/6Z7UaRbUQM

<h3><font color='#004b87'>QUESTION 8 </font></h3>

Write SQL queries on the below database table that return: 

a) All the temperature data. 

b) All the cities, but without repetition. 

c) All the records for India. 

d) All the Fall records. 

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. 

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. 

g) The total annual rainfall for Cairo. 

h) The total rainfall for each season.

In [30]:
import sqlite3
# creating new database, web.db
con = sqlite3.connect('web.db')
# initializing cursor for database
cur = con.cursor()

cur.execute("DROP TABLE World")
# creating new table World in database web.db with column headings
cur.execute("CREATE TABLE World ('City', 'Country', 'Season', 'Temperature (C)', 'Rainfall (mm)')")
# adding data for city Mumbai
cur.execute("INSERT INTO World VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 5.9), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 246.0)")
# adding data for city London
cur.execute("INSERT INTO World VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
# adding data for city Cairo
cur.execute("INSERT INTO World VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [31]:
# a) All the temperature data
cur.execute("SELECT * FROM World")
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 5.9), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 246.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [32]:
# b) All the cities, but without repetition
cur.execute("SELECT DISTINCT City FROM World")

print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [33]:
# c) All the records for India
cur.execute("SELECT * FROM World WHERE City = 'Mumbai'")
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 5.9), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 246.0)]

In [34]:
# d) All the Fall Records
cur.execute("SELECT * FROM World WHERE Season = 'Fall'")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 246.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [35]:
# e) The city, country, and season for which the average rain fall is between 200 and 400 millimeters
cur.execute("SELECT City, Country, Season FROM World WHERE [Rainfall (mm)] BETWEEN 200 AND 400")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [36]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("SELECT City, Country FROM World WHERE Season = 'Fall' AND [Temperature (C)] > 20 ORDER BY [Temperature (C)]")
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [37]:
# g) The total annual rainfall for Cairo
cur.execute("SELECT SUM([Rainfall (mm)]) FROM World WHERE City = 'Cairo'")
print(cur.fetchall())

[(27.6,)]

In [38]:
# h) The total rainfall for each season
cur.execute("SELECT SUM([Rainfall (mm)]) FROM World GROUP BY Season")
print(cur.fetchall())

[(469.0,), (182.0,), (1706.5,), (230.1,)]

<h3><font color='#004b87'>QUESTION 9 </font></h3>

Suppose list words is defined as follows: 

    >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists: 

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', fox' 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['quick', 'brown', 'jumps', 'over', lazy'] (the list of words in list words containing 4 or more characters.)

In [39]:
# Defining original list words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:
# a) Creating a new list with only uppercase letters 
words_uppercase = [word.upper() for word in words]
words_uppercase

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
# b) Creating a new list with only lowercase letters
words_lowercase = [word.lower() for word in words]
words_lowercase

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
# c) Creating a new list with lengths of words in list words 
words_length = [len(word) for word in words]
words_length

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [43]:
# d) Creating a new list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word
words_list = [[word.upper(), word.lower(), len(word)] for word in words]
words_list

# the following source was used to understand nested list comprehension
# https://www.geeksforgeeks.org/nested-list-comprehensions-in-python/

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [44]:
# e) Creating a new list containing words in list words that have 4 or more characters
words_four = [word for word in words if len(word) >= 4]
words_four

['quick', 'brown', 'jumps', 'over', 'lazy']